<mat-card class="custom-card">
  <mat-card-header>
    <h1>Welcome to Quiz.</h1>
  </mat-card-header>

  <mat-card-content>
    <div class="container">
      <form class="form" #myForm="ngForm">
        <div class="row">
          <mat-form-field class="form-field">
            <input matInput required type="text" placeholder="Enter your user name:" name="username" [(ngModel)]="user.username">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="form-field">
            <input matInput required placeholder="Enter your password:" name="password" type="password" [(ngModel)]="user.password">
          </mat-form-field>
          <div *ngIf="notInDatabase">
          <p class="warning"> Username and/or password are incorect. Please try again or register first.</p>
          </div>
        </div>
        <button mat-raised-button color="primary" class="big" (click)="checkForUser(user)">Login</button>
        <h2><span> OR </span></h2>
        <button mat-raised-button color="primary" class="big" (click)="registerUser()">Register</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
