<mat-card class="custom-card">
  <mat-card-header>
    <h1>Welcome to Quiz.</h1>
  </mat-card-header>

  <mat-card-content>
    <div class="container">
      <form class="form" #myForm="ngForm">
        <div class="row">
          <mat-form-field class="form-field">
            <input matInput type="text" placeholder="Enter your user name:" name="username" [(ngModel)]="user.username">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="form-field">
            <input matInput placeholder="Enter your password:" name="password" type="password" [(ngModel)]="user.password" >
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" id="big" (click)="checkForUser(user)" >Login</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
{{user.username}}
{{user.password}}