.custom-card {
  max-width: 1000px;
  margin: auto;
  margin-top: 100px;
  padding-bottom: 50px;
}

.start-button {
  width: 100%;
  height: 60px;
  max-width: 40%;
  font-size: 1.2em;
}

.start-button:hover {
  color: indigo;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  max-width: 500px;
  width: 80%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 250px;
}

.big {
  width: 100%;
  height: 50px;
  font-size: 1.3em;
  margin: none;
  margin-top: 25px;
  margin-bottom: 25px;
}

#big:hover {
  color: indigo;
  box-shadow: 10px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-field {
  width: 100%;
}
.form {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


h2 { 
  width: 50%;
  text-align:center;
  border-bottom: 1px solid #000;
  line-height:0.1em;
  margin:10px 25% 20px;
  
} 
h2 span {
  background:#fff;
  padding:0 10px;
}

.warning {
  color: #F44336;
}