
  .answer-button {
    width: 400px;
    height: 100px;
    
  }

  .custom-card {
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
  }

  .mat-card-content {
    margin-bottom: 50px;
  }

  .right {
      position: absolute;
      right: 35px;
  }
  

  


