.button-row {
    display: flex;
    justify-content: center;
    
  }
  div button {
    width: 400px;
    height: 100px;
    margin: 10px;
    box-shadow: 5 5px 5px 5px rgba(200,50,50,.5)!important;
  }

  .custom-card {
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
  }

  .mat-card-content {
    margin-bottom: 50px;
  }


