<mat-card class="custom-card">
    <mat-card-header>
        <h1>Question {{currentQuestion.id}}:</h1>
    </mat-card-header>

    <mat-card-content> 
        <p>
            {{currentQuestion.question}}
        </p>
        
    </mat-card-content>

    <mat-card-actions>
       <div class="button-row">
        <button mat-stroked-button>{{currentQuestion.answers[0]}}</button>
        <button mat-stroked-button>{{currentQuestion.answers[1]}}</button>
    </div>
    <div class="button-row">
        <button mat-stroked-button>{{currentQuestion.answers[2]}}</button>
        <button mat-stroked-button>{{currentQuestion.answers[3]}}</button>
    </div> 
      </mat-card-actions>
    

</mat-card>
