<mat-card class="custom-card">
    <mat-card-header>
        <h1>Welcome to the game.</h1>
    </mat-card-header>
    
    <hr>
    <br><br><br>

    <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quibusdam consequatur corrupti fuga, natus porro aut
            consequuntur dicta at recusandae, quod obcaecati nihil beatae incidunt distinctio quasi nulla ratione cumque.</p>
    </mat-card-content>
    <div >
        <br><br><br><br>
        <mat-card-actions>
            <button mat-raised-button class="start-button" routerLink="/inprogress">
                 Start the quiz
            </button>
        </mat-card-actions>
    </div>


</mat-card>