<mat-card-header>
    <h1>Pogrijesio si! </h1>
</mat-card-header>
<hr>
<br>
<br>
<br>
<img class="image" right-align mat-card-image src="./../../assets/img/wrong.jpg" width="100px" height="100px" alt="wrong"
/>
<mat-card-content>
    <p class="paragraph">Vise srece drugi put</p>
</mat-card-content>
<div>
    <br>
    <br>
    <br>
    <br>
    <mat-card-actions>
        <button mat-raised-button class="button" routerLink="/quiz" (click)="reloadPage()">Restart Quiz</button>
    </mat-card-actions>
</div>