<mat-card class="custom-card">
  <button class="custom" mat-raised-button routerLink="/quiz">Done</button>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Edit questions">
      <ul *ngFor="let question of myQuestions; let i = index">
        <mat-card>
          <mat-card-actions>
            <button mat-button (click)="changeEditState($event, question)">UPDATE</button>
            <button mat-button (click)="deleteQuestion($event, question)">DELETE</button>
          </mat-card-actions>

          <mat-card-content>
            <!-- Forma za editovanje, *ngIf-->
            <div *ngIf="editState && questionToEdit.question == question.question">
              <form (ngSubmit)="updateQuestion(question)">
                <div>
                  <mat-form-field class="custom-width">
                    <input matInput placeholder="Pitanje:" [(ngModel)]="question.question" name='tempQuestion'>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field class="custom-width-answer">
                    <input matInput placeholder="Odgovor 1:" [(ngModel)]="question.answers[0]" name='tempAns1'>
                  </mat-form-field>
                  <mat-form-field class="custom-width-answer">
                    <input matInput placeholder="Odgovor 2:" [(ngModel)]="question.answers[1]" name='tempAns2'>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field class="custom-width-answer">
                    <input matInput placeholder="Odgovor 3:" [(ngModel)]="question.answers[2]" name='tempAns3'>
                  </mat-form-field>
                  <mat-form-field class="custom-width-answer">
                    <input matInput placeholder="Odgovor 4:" [(ngModel)]="question.answers[3]" name='tempAns4'>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field class="custom-width">
                    <input matInput placeholder="Tacan odgovor:" [(ngModel)]="question.correctAnswer" name='tempCorAns'>
                  </mat-form-field>
                </div>
              </form>



            </div>
            <div *ngIf="!editState">
              <p>Pitanje: {{question.question}} </p>
              <hr>
              <p>{{question.answers[0]}} - {{question.answers[1]}} - {{question.answers[2]}} - {{question.answers[3]}}
                <hr>
                <p>Tacan odgovor: {{question.correctAnswer}}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </ul>
      <!-- Add Question tab -->
    </mat-tab>
    <mat-tab label="Add question">
      <form>
        <div>
          <mat-form-field class="custom-width">
            <input matInput placeholder="Pitanje:" [(ngModel)]="tempQuestion" name='tempQuestion'>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="custom-width-answer">
            <input matInput placeholder="Odgovor 1:" [(ngModel)]="tempAns1" name='tempAns1'>
          </mat-form-field>
          <mat-form-field class="custom-width-answer">
            <input matInput placeholder="Odgovor 2:" [(ngModel)]="tempAns2" name='tempAns2'>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="custom-width-answer">
            <input matInput placeholder="Odgovor 3:" [(ngModel)]="tempAns3" name='tempAns3'>
          </mat-form-field>
          <mat-form-field class="custom-width-answer">
            <input matInput placeholder="Odgovor 4:" [(ngModel)]="tempAns4" name='tempAns4'>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="custom-width">
            <input matInput placeholder="Tacan odgovor:" [(ngModel)]="tempCorAns" name='tempCorAns'>
          </mat-form-field>
        </div>
      </form>
      <div>
        <button mat-raised-button (click)="onSubmit()" class="submit-button">Add question</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>